.home-music-container {
    display: grid;
    grid-template-columns: 18% 80%;
    user-select: none;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  }
  
  @media only screen and (max-width: 970px) {
    .home-music-container {
      display: flex;
    }
  }
  